body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #082841;
    display: flex;
    height: 672px;
    
    &__avatar {
        width: 552px;
        object-fit: cover;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 100px 40px 80px 80px;
    }

    &__author {
        color: white;

        &_profession {
            font-size: 24px;
        }

        &_name {
            font-size: 40px;
        }
    }

    &__text {
        color: white;
        font-size: 20px;
    }

}


