/*
    NAVIGATION
    (1) - Header
    (2) - Expectation
    (3) - Works
    (4) - Slider
    (5) - Footer
*/

@primary: #dd3e18;
@secondary: #082841;
@blue-gradient: linear-gradient(#e6f0f0, #e9f0e6);
@full-width: 944px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

#svg-attach {
    height: 20px;

    .st0{
        fill: #da2300;
    }
    
    .st1{
        fill: #971e00;
    }
}

/* -> (1) Header start */

.header {
    background: @secondary;
    display: flex;
    height: 672px;
    
    &__avatar {
        width: 552px;
        object-fit: cover;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 100px 40px 80px 80px;
    }

    &__author {
        color: #fff;

        &_profession {
            font-size: 24px;
        }

        &_name {
            font-size: 40px;
        }
    }

    &__text {
        color: #fff;
        font-size: 20px;
    }

}

/* <- Header end*/

main {
    display: flex;
    flex-direction: column;
    width: @full-width;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

/* -> (2) Expectation start */

.expectations {
    
    &__grid {
        display: grid;
        grid-template-areas: 
            "first first first second"
            "third fourth fourth fourth";
        grid-gap: 15px;
    }

    article {
        background: @blue-gradient;
        padding: 25px 32px 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__first {
        grid-area: first;
    }

    &__second {
        grid-area: second;
    }

    &__third {
        grid-area: third;
    }

    &__fourth {
        grid-area: fourth;
    }

}

/* <- Expectation end */

/* -> (3) Works start */

.works {

}

.work {
    display: flex;
    margin-bottom: 120px;

    p {
        margin: 0;
    }

    &:nth-child(2n + 1) {
        flex-direction: row-reverse;

        .work__slider {
            margin: 0 0 0 80px;
        }
    }

    &__slider {
        box-shadow: 0 10px 25px #ddd;
        margin-right: 80px;
        border-radius: 4px;
        display: flex;
        width: 544px;
        flex-shrink: 0;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            color: @primary;
            text-decoration: none;
        }
    }
}

/* <- Works end */

/* -> (4) Slider start */

/* <- Slider end*/

/* -> (5) Footer start */

.footer-bg {
    background: @blue-gradient;
}

.footer {
    display: flex;
    flex-direction: column;
    width: @full-width;
    margin: 0 auto;
    padding: 20px 0 70px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__about {
        width: 300px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        
        a {
            color: @primary;
            text-decoration: none;
            display: flex;
            margin-bottom: 10px;

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background: rgba(0, 0, 0, .1);
                border-radius: 2px;
                margin-right: 10px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 60%;

        input,
        textarea {
            border: none;
            background: #fff;
            border-radius: 4px;
            font: unset;
            font-size: 16px;
            box-sizing: border-box;
            border: 2px solid transparent;
            transition: .2s;

            &:focus {
                border: 2px solid rgba(0, 0, 0, .1);
            }

            &:invalid {
                box-shadow: none;
            }

            &:focus:invalid {
                border: 2px solid #ff4d4d;
            }

            &:valid {
                border: 2px solid rgba(85, 174, 0, .4);
            }

        }

        input {
            padding: 0 15px;
            margin-bottom: 24px;
            height: 48px;
        }

        textarea {
            resize: none;
            padding: 10px 15px;
        }

        &_attach {
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 10px 0;
            color: @primary;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            border-radius: 4px;
            border: 2px solid transparent;
            transition: .2s;

            &:focus {
                border: 2px solid @primary;
                background: fadeout(@primary, 90%);
                padding: 10px;
                outline: none;
            }

            svg {
                margin-right: 5px;
            }
        }

        &_submit {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: none;
            border-radius: 4px;
            background: @primary;
            font-weight: bold;
            color: #fff;
            transition: .2s;
            cursor: pointer;
            border: 2px solid transparent;

            &:focus,
            &:hover {
                border: 2px solid darken(@primary, 45%);
                background: lighten(@primary, 5%);
            }
        }
    }
}

/* <- Footer end*/